.app-content-master{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.editor-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: auto;
}

